* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.w {
    width: 1220px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* 去除默认样式 */
textarea {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    background-color: transparent;
    font-size: inherit;
    width: 100%;
    font-family: "Microsoft YaHei";
    resize: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}