<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VideoTagRelationMapper">


    <select id="existsRelation" resultType="java.lang.Boolean">
        SELECT COUNT(*) FROM video_tag_relations WHERE video_id = #{videoId} AND tag_id = #{tagId}
    </select>
</mapper>